body {
    font-family: Arial
}

.calendar {
    text-align: center;
    margin: 20px auto;

    width: 600px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    
}

table {
    width: 100%;
    border: 2px solid;
}

th {
    color: rgb(0, 0, 0);
    padding: 10px;
    
}